 .container_app{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  margin-top: 20%;
  margin-left: 50%;
 }
 .square{
  display: flex;
  flex-direction: column;
  width: 35px;
  height: 35px;
  line-height: 35px;
  align-items: center;
 }